.playlist {
    width: 600px;
    background-color: #f3f4f8;
    padding: 10px 30px;
    border-radius: 20px;
}

.playlist h3 {
    color:#60558f;
    justify-content: space-between;
    display: flex;
}

.playlist h3 .fa-reply {
    cursor: pointer;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 50%;
    opacity: 0.7;
    transition: .3s;
}

.playlist h3 .fa-reply:hover {
    opacity: 1;
}

.playlist h3 .playlist-title {
    padding-top: 16px;
}

.playlist .songs {
    overflow-y: auto;
    padding-right: 20px;
}

.playlist .song-details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid 1px #d3d5de;
}
.playlist .song-details:last-child {
    border-bottom: none;
}

.playlist .song-details .info {
    cursor: pointer;
}

.playlist .song-details .top {
    display: flex;
    color: #78747f;
    font-size: 13px;
}

.playlist .song-details .top .time {
    padding-right: 5px;
}
.playlist .song-details .bottom .title {
    color:#2f1a4b;
}

.playlist .song-details .icons {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 5px;
}

.playlist .song-details .icons .fa-share-alt {
    color:#60558f;
    cursor: pointer;
    padding-right: 10px;
}
.playlist .song-details .icons .fa-heart {
    color:#ed5e74;
    cursor: pointer;
}

/** Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }