.player {
    width: 600px;
    background-color: #f3f4f8;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.player .shadow {
    background: black;
    opacity: 0.5;
    height: 100%;
}

.player .image {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-image: url('./image.jpg');
    background-size: cover;
    height: 70%;
}

.player .top-buttons,
.player .song-info {
    height: 25%;
    position: relative;
}

.player .top-buttons .buttons,
.player .song-info .info {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.player .top-buttons .buttons {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}

.player .top-buttons .buttons .options {
    display: flex;
    justify-content: space-around;
    flex-basis: 25%;
}

.player .top-buttons .buttons .options i {
    cursor: pointer;
    opacity: 0.8;
    transition: .3s;
}

.player .top-buttons .buttons .options i:hover {
    opacity: 1;
}

.player .top-buttons .buttons .hamburger {
    cursor: pointer;
    opacity: 0.6;
    transition: .3s;
}

.player .top-buttons .buttons .hamburger:hover {
    opacity: 1;
}

.player .song-info .info {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.player .song-info .info .author {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

.player .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.player .menu .share,
.player .menu .heart {
    background-color: #ffffff;
    border: solid 1px rgb(187, 186, 186);
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
}

.player .menu .share:hover,
.player .menu .heart:hover {
    border-color: #60558f;
    opacity: 1;
}

.player .menu .fa-share-alt {
    color:#60558f;
}


.player .menu .fa-heart {
    color:#ed5e74;
}

.player .menu .play-nav {
    display: flex;
    justify-content:space-around;
    color: white;
}

.player .menu .play-nav i {
    background-color: #60558f;
    border-radius: 50%;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.player .menu .play-nav i:hover {
    background-color: #8e7fd1;   
}

.player .menu .play-nav .play-pause {
    margin-top: -5px;
    padding: 0 10px;
}

.player .menu .play-nav .play-pause .fa-play,
.player .menu .play-nav .play-pause .fa-pause {
    font-size: 24px;
    padding: 24px;
}