body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #959ed1 0%,#8b92c9 8%,#8a90c7 8%,#878cc3 14%,#8a8cc5 20%,#a098d5 33%,#a699d9 40%,#a693d8 49%,#9d84ce 62%,#9276c1 72%,#8b6eb9 76%,#7c63a8 82%,#6b5695 87%,#4c4072 95%,#3a345e 100%);
  padding: 50px;
  justify-content: space-around;
}

.app .hidden.visible-component {
  display: none;
}

